[user]
	name = ailequal
	email = 37016865+ailequal@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/pacpera/.gitignore_global
